<a href="https://colab.research.google.com/github/aryan4avj/Virtual-room--26/blob/main/Customer_Rating_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [16]:
tf = pd.read_csv("/content/customer_transactions.csv")
tf.head()

  Transfer_Key  ...  Transaction_Date
0           K1  ...          01/01/19
1           K2  ...          02/01/19
2           K3  ...          03/01/19
3           K4  ...          04/01/19
4           K5  ...          05/01/19

[5 rows x 6 columns]

In [53]:
df = pd.read_csv("/content/customer_account_info.csv")
df.head()

            account_key primary_party_key acct_open_date
0  CASP_D04050165300009    C1245363788_00       28/02/15
1  CASP_D00630169780001    C014581971C_00       28/02/15
2  CASP_D00630169780002    C014831981K_00       31/03/15
3  CASP_D00630169780003    C015471980N_00       28/02/15
4  CASP_D00630169780004    C016051974E_00       28/02/15

In [13]:
df = pd.read_csv("/content/countries_info.csv")
df.head()

         LIST_ID ENTITY_KEY
0  AML-CTY-HR-01         AF
1  AML-CTY-HR-01         JI
2  AML-CTY-HR-01         PK
3  AML-CTY-HR-01         IS
4  AML-CTY-HR-01         TR

In [15]:
High_Risk_Countries = df["ENTITY_KEY"].tolist()
High_Risk_Countries

['AF', 'JI', 'PK', 'IS', 'TR', 'SR']

In [57]:
cf = pd.read_csv("/content/customer_info.csv")
cf.head()

        party_key residential_country_cd party_open_date
0    S1659194G_00                     MY        01/01/80
1  AS25CS0001L_00                     SG        01/03/97
2  AS61SS0117F_00                     SG        01/03/97
3  AS62SS0001F_00                     SG        01/03/97
4  AS62SS0064B_00                     SG        01/03/86

**H1:** If there are more than 10 incoming or
outgoing (INN | OUT) transaction in a
month from high risk country.

**Logic:**

identify High risk countries -> if(in>10 OR out>10) _> H1 category

In [18]:
tf.head()

  Transfer_Key  ...  Transaction_Date
0           K1  ...          01/01/19
1           K2  ...          02/01/19
2           K3  ...          03/01/19
3           K4  ...          04/01/19
4           K5  ...          05/01/19

[5 rows x 6 columns]

In [38]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Transfer_Key                     137 non-null    string
 1    Account_Key                     137 non-null    string
 2    Transaction_Amount(in $)        137 non-null    int64
 3    Transaction Type                137 non-null    object
 4    Transaction_Origin/Destination  137 non-null    string
 5    Transaction_Date                137 non-null    object
dtypes: int64(1), object(2), string(3)
memory usage: 6.5+ KB

In [40]:
tf[' Transaction_Origin/Destination'] = tf[' Transaction_Origin/Destination'].astype("string")
tf['Transfer_Key'] = tf['Transfer_Key'].astype("string")
tf[' Account_Key'] = tf[' Account_Key'].astype("string")
tf[' Transaction Type '] = tf[' Transaction Type'].astype("string")

In [46]:
tf.loc[(tf[" Transaction_Origin/Destination"] == 'AF'),'Risk rating'] = 'High'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'JI'),'Risk rating'] = 'High'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'PK'),'Risk rating'] = 'High'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'IS'),'Risk rating'] = 'High'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'TR'),'Risk rating'] = 'High'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'SR'),'Risk rating'] = 'High'

tf.loc[(tf[" Transaction_Origin/Destination"] == 'AF'),'Risk rating reason'] = 'H1'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'JI'),'Risk rating reason'] = 'H1'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'PK'),'Risk rating reason'] = 'H1'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'IS'),'Risk rating reason'] = 'H1'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'TR'),'Risk rating reason'] = 'H1'
tf.loc[(tf[" Transaction_Origin/Destination"] == 'SR'),'Risk rating reason'] = 'H1'

In [68]:
Account_keys = tf[' Account_Key'].unique()
print(len(Account_keys))

23

In [77]:
Account_keys

<StringArray>
['CASP_D04050165300009', 'CASP_D00630169780002', 'CASP_D00630169780003',
 'CASP_D00630169780004', 'CASP_D00630169780005', 'CASP_D00630169780006',
 'CASP_D00630169780007', 'CASP_D00630169780010', 'CASP_D00630169780022',
 'CASP_D00630169780021', 'CASP_D00630169780020', 'CASP_D00630169780019',
 'CASP_D00630169780011', 'CASP_D00630169780009', 'CASP_D00630169780018',
 'CASP_D00630169780017', 'CASP_D00630169780008', 'CASP_D00630169780016',
 'CASP_D00630169780015', 'CASP_D00630169780001', 'CASP_D00630169780014',
 'CASP_D00630169780012', 'CASP_D00630169780013']
Length: 23, dtype: string

In [83]:
sum =0
for i in Account_keys:
  for index, row in tf.iterrows():
    if i == row[' Account_Key']:
      # print(1)
      sum = sum + row[' Transaction_Amount(in $)']
  if sum >1000:
    print(row[' Account_Key'],"H2")
  else:
    print(row[' Account_Key'],"L2")
  
      # print(row[' Account_Key'], row[' Transaction_Amount(in $)'])
  sum =0
# if tf[' Account_Key'] ==

CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 H2
CASP_D00630169780013 H2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2
CASP_D00630169780013 L2

In [67]:
group_account = tf.groupby([' Account_Key',' Transaction_Amount(in $)'])
group_account.first()

                                               Transfer_Key  ... Risk rating
 Account_Key          Transaction_Amount(in $)               ...
CASP_D00630169780001 50                                 L30  ...        High
                     100                                L27  ...        High
                     150                                L28  ...        High
CASP_D00630169780002 23                                  K3  ...        None
                     24                                  K4  ...        High
CASP_D00630169780003 67                                  K6  ...        None
                     70                                  K5  ...        High
CASP_D00630169780004 50                                  K7  ...        None
                     80                                  K8  ...        High
CASP_D00630169780005 50                                  K9  ...        High
                     55                                 K10  ...        None
CASP_D00630169780006 34                                 K12  ...        High
                     45                                 K11  ...        High
CASP_D00630169780007 45                                 K13  ...        High
                     78                                 K14  ...        High
CASP_D00630169780008 5                                  K81  ...        High
CASP_D00630169780009 100                                K71  ...        High
                     200                                K73  ...        High
                     600                                K71  ...        High
CASP_D00630169780010 10                                 K19  ...        High
                     12                                 K26  ...        High
                     20                                 K15  ...        High
                     30                                 K16  ...        High
                     40                                 K17  ...        High
                     50                                 K18  ...        High
CASP_D00630169780011 100                                K67  ...        High
CASP_D00630169780012 20                                 L34  ...        High
                     40                                 L35  ...        High
                     100                                L33  ...        High
CASP_D00630169780013 30                                 L36  ...        High
CASP_D00630169780014 100                                L31  ...        High
                     150                                L32  ...        High
CASP_D00630169780015 5                                  L21  ...        High
CASP_D00630169780016 5                                   L4  ...        High
CASP_D00630169780017 100                                K80  ...        High
                     200                                K78  ...        High
CASP_D00630169780018 200                                K74  ...        High
CASP_D00630169780019 100                                K55  ...        High
CASP_D00630169780020 100                                K40  ...        High
CASP_D00630169780021 10                                 K35  ...        High
                     11                                 K39  ...        High
CASP_D00630169780022 10                                 K27  ...        High
CASP_D04050165300009 50                                  K1  ...        High
                     100                                 K2  ...        High

[44 rows x 7 columns]

In [58]:
primary_party_key = cf['party_key'].unique()
print(len(primary_party_key))

681

In [56]:
Account_keys = df['account_key'].unique()
print(len(Account_keys))

466

In [54]:
primary_party_key = df['primary_party_key'].unique()
print(len(primary_party_key))

459